body {
    background-color: rgb(219, 200, 164);
    text-align: center;
    margin: 20px;
}

h1 {
    font-weight: 600px;
    color: rgb(58, 34, 12);
    padding: 10px;
    margin-top: ;
}

img {
display: block;
margin: 0 auto;
}

a:visited {
    color: rgb(58, 34, 12);
}

