body {
    background-color: rgb(224, 207, 169);
    text-align: center;
    margin: 40px;
}

h1 {
    color: rgb(92, 59, 28);
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px;
    max-width: 50%;
}

a:visited {
    color: rgb(58, 34, 12);
    text-decoration: none;
}

a {
    color: rgb(92, 59, 28);
    text-decoration: none;
}

.row {
    text-align: center;
    margin: 40px;

}

p {
    text-align: center;
}

